:root {
  --btn-background: #f9c06a;
  --btn-padding: 14px 26px;
  --btn-color: #1e1e1e;
  --btn-radius: 24px;
  --color-light: white;
  --color-dark: #707070;
  --font-family-logo: "Clicker Script", cursive;
  --color-coffee: #603809;
  --font-text: 20px;
  --line-heght: 24px;
}

header .logo {
  font-family: var(--font-family-logo);
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}
body {
  font-family: "Playfair Display", serif;
}

body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  /* border: 2px solid yellow; */
  max-width: 1180px;
  margin: 0 auto;
}

header a {
  color: var(--color-light);
}

header {
  background-image: url(img/coffee_image.png);
  background-repeat: no-repeat;
  background-size: cover;
}

header nav {
  /* border: 1px solid red; */
  font-size: 14px;
  font-weight: 600;
}

header .hero {
  /* border: 1px solid red; */
}

header .logo {
  /* border: 1px solid red; */
  font-size: 35px;
  margin-right: 245px;
}

header ul {
  /* border: 1px solid red; */
  display: inline-block;
}

/* .hero {
  border: 1px solid red;
} */

header li {
  display: inline-block;
  margin-right: 60px;
}

header li:last-child {
  margin-right: 0px;
}

.login {
  display: inline-block;
  margin-left: 200px;
}

.signin-btn {
  margin-right: 35px;
  text-decoration: underline;
}

.btn {
  color: var(--btn-color);
  background-color: var(--btn-background);
  border-radius: var(--btn-radius);
  padding: var(--btn-padding);
  transition: 0.3s;
  display: inline-block;
}

/* .signup-btn {
  color: var(--btn-color);
  background-color: var(--btn-background);
  border-radius: var(--btn-radius);
  padding: var(--btn-padding);
  transition: 0.3s;
  display: inline-block;
} */

header ul a,
.signin-btn {
  transition: 0.3s;
}

header ul a:hover,
.signup-btn:hover {
  opacity: 0.8;
}

.signin-btn:hover {
  box-shadow: 0 0 10px 2px #666;
}

.hero .label {
  color: var(--color-light);
  font-size: 22px;
}

.hero .title {
  color: var(--color-light);
  font-family: var(--font-family-logo);
  font-size: 220px;
  font-weight: normal;
}

.hero .description {
  color: var(--color-light);
  font-size: 20px;
  line-height: 34px;
}

.hero {
  width: 585px;
  padding-top: 116px;
  padding-bottom: 95px;
}

.order-btn {
  margin-top: 20px;
}

.btn-hover:hover {
  box-shadow: 0 0 10px 2px #666;
}

/* .btn-more {
  margin-top: 29px;
} */

.dark-heading {
  color: var(--color-coffee);
  font-size: 54px;
}

.advantages {
  padding-bottom: 130px;
  padding-top: 80px;
  /* border: 1px solid red; */
}

.advantages p {
  color: var(--color-dark);
  margin: 29px 0;
  font-size: var(--font-text);
  line-height: var(--line-height);
}

.advantages .description {
  width: 585px;
  display: inline-block;
  margin-right: 80px;
  vertical-align: 100px;
  /* border: 1px solid red; */
}

.description img {
}
