header .logo {
  font-family: "Clicker Script", cursive;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}
nav ul {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  list-style: none;
}
