:root {
  --btn-background: #f9c06a;
  --btn-padding: 14px 26px;
  --btn-color: #1e1e1e;
  --btn-radius: 24px;
  --color-light: white;
  --color-dark: #707070;
  --font-family-logo: "Clicker Script", cursive;
  --color-coffee: #603809;
  --font-text: 20px;
  --line-heght: 24px;
  --font-heading: 54px;
}

header .logo {
  font-family: var(--font-family-logo);
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}
body {
  font-family: "Playfair Display", serif;
}

body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  /* border: 2px solid yellow; */
  max-width: 1180px;
  margin: 0 auto;
}

header a {
  color: var(--color-light);
}

header {
  background-image: url(img/coffee_image.png);
  background-repeat: no-repeat;
  background-size: cover;
}

header nav {
  /* border: 1px solid red; */
  font-size: 14px;
  font-weight: 600;
}

header .logo {
  /* border: 1px solid red; */
  font-size: 35px;
  margin-right: 245px;
}

header ul {
  /* border: 1px solid red; */
  display: inline-block;
}

/* .hero {
  border: 1px solid red;
} */

header li {
  display: inline-block;
  margin-right: 60px;
}

header li:last-child {
  margin-right: 0px;
}

.login {
  display: inline-block;
  margin-left: 200px;
}

.signin-btn {
  margin-right: 35px;
  text-decoration: underline;
}

.btn {
  color: var(--btn-color);
  background-color: var(--btn-background);
  border-radius: var(--btn-radius);
  padding: var(--btn-padding);
  transition: 0.3s;
  display: inline-block;
  font-weight: bold;
}

/* .signup-btn {
  color: var(--btn-color);
  background-color: var(--btn-background);
  border-radius: var(--btn-radius);
  padding: var(--btn-padding);
  transition: 0.3s;
  display: inline-block;
} */

header ul a,
.signin-btn {
  transition: 0.3s;
}

header ul a:hover,
.signup-btn:hover {
  opacity: 0.8;
}

.signin-btn:hover {
  box-shadow: 0 0 10px 2px #666;
}

.hero .label {
  color: var(--color-light);
  font-size: 22px;
}

.hero .title {
  color: var(--color-light);
  font-family: var(--font-family-logo);
  font-size: 220px;
  font-weight: normal;
}

.hero .description {
  color: var(--color-light);
  font-size: 20px;
  line-height: 34px;
}

.hero {
  width: 585px;
  padding-top: 116px;
  padding-bottom: 95px;
}

.order-btn {
  margin-top: 20px;
}

.btn-hover:hover {
  box-shadow: 0 0 10px 2px #666;
}

/* .btn-more {
  margin-top: 29px;
} */

.dark-heading {
  color: var(--color-coffee);
  font-size: 54px;
}

.advantages {
  padding-bottom: 130px;
  padding-top: 80px;
  /* border: 1px solid red; */
}

.advantages p {
  color: var(--color-dark);
  margin: 29px 0;
  font-size: var(--font-text);
  line-height: var(--line-height);
}

.advantages .description {
  width: 585px;
  display: inline-block;
  margin-right: 80px;
  vertical-align: 100px;
  /* border: 1px solid red; */
}

.products {
  /* border: 1px solid red; */
  margin-bottom: 82px;
}

.products h2 {
  text-align: center;
}

.products .description {
  color: var(--color-dark);
  text-align: center;
  margin: 16px 0 32px 0;
  font-size: var(--font-text);
}

.products .card {
  /* border: 1px solid red; */
  display: inline-block;
  text-align: center;
  margin-right: 10px;
}

.products .card:last-child {
  margin-right: 0px;
}

.products .card-back > * {
  display: block;
}

.products .type {
  color: var(--color-coffee);
  font-weight: bold;
  font-size: 22px;
  margin-top: 16px;
  margin-bottom: 6px;
}

.products .characteristics {
  color: var(--btn-color);
  margin-bottom: 6px;
}

.products .price {
  color: var(--color-coffee);
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.products .btn {
  display: inline-block;
  position: relative;
  top: 25px;
}

.card-back {
  background-color: #fff9f1;
  border: 1px solid #f9c06a;
  display: inline-block;
  /* border-top: none; */
}

.features {
  text-align: center;
  margin-bottom: 82px;
}

.features .description {
  margin-top: 16px;
  margin-bottom: 32px;
  color: var(--color-dark);
  font-size: var(--font-text);
}

.features .card {
  /* border: 1px solid red; */
  display: inline-block;
  text-align: center;
  padding: 36px 39px;
  margin-right: 20px;
}

.features .card:last-child {
  margin-right: 0px;
}

.features .card > * {
  display: block;
}

.features .card img {
  display: inline-block;
}

.features .type {
  color: var(--color-coffee);
  font-size: 28px;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 8px;
}

.features .text {
  color: var(--color-dark);
  font-size: var(--font-text);
  width: 176px;
}

.features .card:hover {
  background-color: #ffeed8;
  /* border: none; */
  cursor: pointer;
}

.features .join p {
  margin-top: 32px;
  color: var(--color-dark);
  font-size: var(--font-text);
}

.features .join h3 {
  margin-top: 20px;
  margin-bottom: 24px;
  font-size: 30px;
  color: var(--color-coffee);
}

.offer {
  background-image: url(img/cup.png), url(img/coffee_bean.png),
    url(img/Group\ 36.png);
  padding: 135px 0px;
  background-size: 300px 467px, 657px 574px, cover;
  background-repeat: no-repeat;
  background-position: 88%, right, 0;
  margin-bottom: 82px;
}

.offer .text {
  width: 575px;
}

.offer h2 {
  color: var(--color-light);
  font-size: var(--font-heading);
}

.offer p {
  color: var(--color-light);
  font-size: var(--font-text);
  line-height: var(--line-height);
  margin-top: 22px;
  margin-bottom: 22px;
}

.feedback {
  margin-block: 82px;
  text-align: center;
}

.feedback .description {
  margin-top: 16px;
  color: var(--color-dark);
  font-size: var(--font-text);
}

.slider-wrapper {
  /* border: 2px solid red; */
  padding-block: 57px;
  padding-inline: 41px;
  position: relative;
}

.slider {
  /* border: 2px solid green; */
  overflow: hidden;
  width: 980px;
  margin: 0 auto;
}

.slides {
  /* border: 2px solid red; */
  transition: 0.4s;
  width: 2960px;
}

.slide {
  background-color: #fff9f1;
  padding: 140px 100px 17px;
  border: 2px solid #f9c06a70;
  position: relative;
  display: inline-block;
  width: 980px;
  height: 524px;
  vertical-align: top;
}

.quote {
  position: absolute;
  top: 60px;
  left: 29px;
}

.slide p {
  font-size: 18px;
  line-height: 36px;
  font-weight: 600;
  color: var(--color-dark);
  margin-bottom: 13px;
}

.slide h3 {
  color: var(--color-coffee);
  font-size: 32px;
  margin-bottom: 4px;
}

.slide .status {
  display: block;
  font-size: 34px;
  color: var(--color-dark);
  margin-bottom: 8px;
}

.slide .avatar {
  border-radius: 16px;
  width: 83px;
  height: 83px;
  background-image: url(img/man.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px;
  margin: 0 auto;
}

.feedback .controls {
  position: absolute;
  bottom: -31.5px;
  right: 44.5%;
}

.feedback .controls input {
  appearance: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 6px solid var(--color-coffee);
  margin-right: 11px;
  position: relative;
  cursor: pointer;
}

.feedback .controls input:last-child {
  margin-right: 0;
}

.feedback .controls input::after {
  content: "";
  position: absolute;
  top: 2.1px;
  left: 2.1px;
  width: 19px;
  height: 19px;
  background-color: var(--color-coffee);
  border-radius: 50%;
  display: none;
}

.feedback .controls input:checked::after {
  display: block;
}

.controls:has(#control1:checked) + .slider .slides {
  transform: translateX(-6px);
}

.controls:has(#control2:checked) + .slider .slides {
  transform: translateX(-990px);
}

.controls:has(#control3:checked) + .slider .slides {
  transform: translateX(-1974px);
}

.arrows-box {
  display: none;
  position: relative;
}

.controls:has(#control1:checked) ~ .arrows .arrows-slide1,
.controls:has(#control2:checked) ~ .arrows .arrows-slide2,
.controls:has(#control3:checked) ~ .arrows .arrows-slide3 {
  display: block;
}

.arrows {
  position: absolute;
  top: 45%;
  left: 5%;
  width: 100%;
}

.arrows-box label {
  background-color: var(--btn-background);
  width: 82px;
  height: 82px;
  border-radius: 16px;
  display: inline-block;
  cursor: pointer;
  line-height: 90px;
  position: absolute;
  transition: 0.3s;
  user-select: none;
}

.arrows-box label:hover {
  transform: scale(1.2);
}

.arrows-box label:first-child {
  top: 0;
  left: 0;
}

.arrows-box label:last-child {
  right: 110px;
}
